@import 'tailwindcss';
.ce-toolbar__plus {
	color: white !important;
	background-color: transparent !important;
	transition: background 0.2s ease;
}

.ce-toolbar__plus:hover {
	background-color: #ffffff !important;
	color: #1c1c20 !important;
}

.ce-toolbar__settings-btn {
	color: white !important;
}

.ce-toolbar__settings-btn:hover {
	background-color: #ffffff !important;
	color: #1c1c20 !important;
}

/* /styles/editor.css */
.ce-block h1 {
	font-weight: 800;
	font-size: 26px;
	color: white;
}

.ce-block h2 {
	font-weight: 700;
	font-size: 24px;
	color: white;
}

.ce-block h3 {
	font-weight: 600;
	font-size: 20px;
	color: white;
}

.ce-paragraph {
	color: #ffffff;
	font-size: 16px;
	line-height: 1.75;
}

.cdx-list__item-content {
	color: #ffffff;
}

/* styles/editor.css */
.ce-block__content,
.ce-toolbar__content {
	max-width: 90% !important;
}
